$theme-color: #2196f3;

$vp-c-text: (
  light: #2c3e50,
  dark: #cdcdcd,
);
$vp-c-bg: (
  light: #fff,
  dark: #2a2a2a,
);
$vp-c-bg-alt: (
  light: #f8f8f8,
  dark: #333,
);
$vp-c-shadow: (
  light: #f0f1f2,
  dark: #303030,
);

$color-transition: 0s;
$transform-transition: "0s ease" !default;

